@import "tailwindcss";

:root {
	font-family:
		cursive,
		-apple-system,
		blinkmacsystemfont,
		"Segoe UI",
		roboto,
		oxygen,
		ubuntu,
		cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: rgba(255, 255, 255, 0.87);
	background-color: #fbf6f8;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--primary: #cf6b9a;
	--text-primary: #b94e80;
}

* {
	box-sizing: border-box;
}

html,
body,
#root {
	height: 100%;
	margin: 0;
}

html {
	width: 100vw;
}

body {
	width: 100%;

	padding: 3rem;
}
