@import "tailwindcss";

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: rgba(255, 255, 255, 0.87);
	background-color: #fbf6f8;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--primary: #cf6b9a;
}

html {
	height: 100vh;
}

body {
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	padding: 2rem;
}
